.user{
    display: grid;
    grid-template-columns: 1fr 50px;
    height: 1.6em;
    font-size: 1.2rem;
    grid-gap: 0.3rem;
}

.user_name{
    border: 2px solid black;
    border-radius: 0.3rem;
    background: lightskyblue;
}

.user_age{
    border: 2px solid black;
    border-radius: 0.3rem;
    background: cornflowerblue;
}

.users_wrapper{
    width: 250px;
    margin: 0 auto;
}
